/*google font link*/
  @import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
/*google font link*/
/* Common Code  */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
 }
 body{
    background-color:  #3b3b3c;
 }
 ::selection{
    color: black;
    background-color: white;
 }
 /* Common Code  */

 /* navbar and logo  */
 .sojib{
    width: 100px;
    height: 100px;
    margin: -40px;
   
 }
 .sojib a{
   margin: 13px;
   font-size: 30px;
   cursor: pointer;
   color: #F6F1EE;
   margin: 50px;
   position: fixed;
   background-color: rgba(0, 252, 59, 0.32);
   padding: 10px 16px;
   border-radius: 50%;
 }
 .navbar ul li .nav-btn1{
    color: #F6F1EE;
 }
 .navbar ul li .nav-btn:hover{
    color: #ffffff;
    transition: .2s linear all;
    transform: scale(1.1);
 }
 .navbar ul li a{
    font-size: 20px;
    color:  #FFECD6;
    font-family: 'DM Sans',sans-serif;
    font-display: unset;
    padding: 10px;
 }
 .navbar{
    display: flex;
    justify-content: center;
 }
 .navbar ul li{
    display: inline;
    text-align: center;
 }
 /* navbar and logo  */
/* 1st left and right container  */
.frist-cintainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 50px;
}
/* left-container style  */
.left-container{
    width: 45%;
    height: 500px;
    font-family: 'DM Sans', sans-serif;
}
.left-container > h2{
    font-size: 35px;
    color: #F0ECE5;
}
.left-container > h1,span{
    display: inline;
}
.left-container > h1{
    color: #F0ECE5;
}
.left-container > span{
    color: rgb(0, 255, 34);
     font-weight: 800;
     font-size: 35px;
}
.left-container  P{
    font-family: 'DM Sans', sans-serif;
    color:#F0ECE5;
    font-size: 19px;
    margin-top: 20px;
}
.left-container .icon a i{
    color: rgba(0, 252, 59, 0.32) ;
    font-size: 27px;
    padding: 7px;
    line-height: 4;
}
.left-container .icon a i:hover{
    color: rgb(0, 255, 34);
    transform: .1s all linear;
    transform: scale(1.1);
}
.left-container .btn {
    margin-top: 40px;
}
.left-container .btn .cv-btn,.hire-btn{
    background-color: rgba(46, 252, 0, 0.485);
    padding: 14px 27px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    font-variant: small-caps;
    border: 2px solid black;
    transition: .2s all linear;
}
.left-container .btn .cv-btn:hover{
      background-color:transparent;
}
.left-container .btn .hire-btn{
    background-color: transparent;
}
.left-container .btn .hire-btn:hover{
    background-color: rgba(46, 252, 0, 0.485);
}
/* left-container style  */
/* Right-container style  */
.right-container{
    width: 45%;
    height: 500px;
}
.right-container > img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 160px;
    box-shadow: 10px 10px 50px #3b3b3c;
}
/* Right-container style  */
/* 1st left and right container  */

/* <!-- 2nd container --> */
.second-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #1d1d1d;
    padding: 20px;
}
/* left-container style  */
.second-container >.left-side{
    width: 310px;
    height: 350px;
    background-color: rgb(35, 35, 35);
    border-radius: 10px;
    box-shadow:5px 5px 30px black, -5px -5px 30px black
    ;
}
.second-container img{
    width: 300px;
    height: 250px;
    margin: 5px 4px;
    border-radius: 10px;

}
.second-container .text{
    width: 280px;
    height: 70px;
    background-color: #1d1d1d;
    margin: 0 auto;
    text-align: center;
    line-height: 3;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #F0ECE5;
    text-shadow: 1;
}
/* left-container style  */

/* Right-container style  */
.second-container >.right-side{
    width: 45%;
    height: 300px;
    margin-left: 150px;
}
.second-container .right-side h1{
    font-size: 30px;
    color: chartreuse;
    font-family: 'DM Sans', sans-serif;
    font-variant: small-caps;
    text-decoration: underline;
}
.second-container .right-side h3{
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin-top: 35px;
    color: #F0ECE5;
    background-color:   #3b3b3c;
    padding: 10px 20px;
    border-radius: 10px;
}
.second-container .right-side .icon a i{
    font-size: 25px;
    padding: 7px;
    margin-top: 30px;
    color: #3b3b3c;
}
.second-container .right-side .icon a i:hover{
    color: chartreuse;
}
/* Right-container style  */

/* <!-- 2nd container --> */

/* 3rd container  */
.third-container{
    display: flex;
    justify-content: center;
}
/* Left conteiner */
.container{
    width: 100%;
    background-color: rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
}
.third-container > .container > .skile h1{
    color: #F6F1EE;
    margin-top: 50px;
    font-family: 'DM Sans', sans-serif;
}
.html{
    width: 0%;
    height: 10px;
    background-color: rgb(241, 186, 2);
    border-radius: 10px;
    animation: all forwards 2s;
    animation-name: html;
    box-shadow: 5px 5px 20px black;
    animation-delay: 1s;
}
.css{
    width: 0%;
    height: 10px;
    background-color: rgb(0, 105, 243);
    border-radius: 10px;
    animation: all forwards 2s;
    animation-name: css;
    box-shadow: 5px 5px 20px black;
    animation-delay: 1s;
}
.JavaScript{
    width: 0%;
    height: 10px;
    background-color: rgb(3, 247, 97);
    border-radius: 10px;
    animation: all forwards 2s;
    animation-name: javascript;
    box-shadow: 5px 5px 20px black;
    animation-delay: 1s;
}
.Python{
    width: 0%;
    height: 10px;
    background-color: rgb(205, 50, 50);
    border-radius: 10px;
    animation: all forwards 2s;
    animation-name: python;
    box-shadow: 5px 5px 20px black;
    animation-delay: 1s;
}
.React{
    width: 0%;
    height: 10px;
    background-color: rgb(166, 0, 255);
    border-radius: 10px;
    animation: all forwards 2s;
    animation-name: react;
    box-shadow: 5px 5px 20px black;
    animation-delay: 1s;
}
.Tailwind{
    width: 0%;
    height: 10px;
    background-color: rgb(12, 0, 122);
    border-radius: 10px;
    animation: all forwards ease-in infinite;
    animation-name: Tailwind;
    box-shadow: 5px 5px 20px black;
    animation-delay: 1s;
}
.span{
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    border-radius: 50%;
    font-weight: 700;
    border: 2px solid black;
    margin-top: -14px;
}
@keyframes html {
    0%{
        background-color: blue ;
    }
    100%{
        width:86%;
    }
}
@keyframes css {
    0%{
        background-color: rgb(255, 221, 0) ;
    }
    100%{
        width:75%;
    }
}
@keyframes javascript {
    0%{
        background-color: rgb(255, 0, 0) ;
    }
    100%{
        width:64%;
    }
}
@keyframes python{
    0%{
        background-color: blue ;
    }
    100%{
        width:63%;
    }
}
@keyframes react {
    0%{
        background-color: rgb(255, 0, 0) ;
    }
    100%{
        width:44%;
    }
}
@keyframes Tailwind {
    0%{
        background-color: rgb(166, 255, 0) ;
    }
    100%{
        width:74%;
    }
}
.progress-bar{
    width: 500px;
    background-color: rgb(55, 53, 53);
    height: 10px;
    border-radius: 10px;
}
/* Left conteiner */
.third-container .container .skile #skill h1{
    color: #f74c06;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 0px;
    font-weight: 800;
}
.third-container .container .skile{
    padding: 100px;
}
.third-container .container .skile #skill{
    width: 300px;
    height: 60px;
    background-color: #3b3b3c;
    box-shadow: inset 10px 10px 20px rgb(45, 45, 45),
                inset -10px -10px 20px rgb(45, 45, 45),
                5px 5px 10px rgb(45, 45, 45);
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    border: 1px solid #07f49e;
}
/* 3rd container  */


/* 4th container  */
.fourth-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.fourth-container .container-1{
    width: 320px;
    height: 380px;
    background-color: #1d1d1d;
}
.fourth-container .container-1 span{
    color: #cbcbcb;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}
.fourth-container .container-1 button{
    width: 300px;
    height: 40px;
    margin-left: 10px;
    margin-top: 15px;
    background-color: darkorange;
    color: #F0ECE5;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.fourth-container .container-1 button:hover{
    background-color: rgb(255, 196, 0);
}
.fourth-container .container-1 img{
    width: 320px;
    padding: 10px;
    border-radius: 10px;
    transform: scale(1.04);
    cursor: pointer;
}
.fourth-container .container-1 img:hover{
    transform: scale(.99);
    transition: .3s;
}
 #project h1{
    color: #f74c06;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-top: 0px;
    font-weight: 800;
}
#project{
    width: 300px;
    height: 60px;
    background-color: #3b3b3c;
    box-shadow: inset 10px 10px 20px rgb(45, 45, 45),
                inset -10px -10px 20px rgb(45, 45, 45),
                5px 5px 10px rgb(45, 45, 45);
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #07f49e;
}
.fourth-container .btn a{
    background-color: black;
    color: #F0ECE5;
    padding: 10px 20px;
}

/* 4th container  */


/* 5th container  */
.five-container .h1{
    color: #ff00bb;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    width: 300px;
    height: 60px;
    background-color: #1d0808;
    margin: 0 auto;
    margin-top: 20px;
    text-decoration: underline;
    background-color: #3b3b3c;
    box-shadow: inset 10px 10px 20px rgb(45, 45, 45),
                inset -10px -10px 20px rgb(45, 45, 45),
                5px 5px 10px rgb(45, 45, 45);
    border-radius: 10px;
    border: 1px solid #07f49e;
}
.five-container .experience{
    width: 90%;
    height: 200px;
    background-color: #302d2d;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 5px 5px 10px  #595858, -5px -5px 10px;
    border-radius: 10px;
    border: 1px solid #07f49e
    
}
.five-container .experience p{
    color: #aaa9a8;
    font-family: 'DM Sans', sans-serif;
    padding: 10px;
    font-size: 18px;
}
/* 5th container  */


/* 6th container  */
.container2 .left .child1,.child2,.child3{
    width: 360px;
    height: 80px;
    background-color: transparent;
    border: 1px solid #07f49e;
    border-radius: 9px;
}
.container2 .left .child1, .child2, .child3,i{
    font-size: 22px;
    text-align: center;
    color: #F6F1EE;
    font-family: 'DM Sans', sans-serif;
    margin-top: 10px;
}
.h1{
    margin-top: 50px;
}
.h1 #h1{
    color: #00ff37;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    text-decoration: underline;
    width: 300px;
    height: 60px;
    background-color: transparent;
    margin: 0 auto;
    text-decoration: underline;
    background-color: #3b3b3c;
    box-shadow: inset 10px 10px 20px rgb(45, 45, 45),
                inset -10px -10px 20px rgb(45, 45, 45),
                5px 5px 10px rgb(45, 45, 45);
    border-radius: 10px;
    border: 1px solid #07f49e;
}
.container2{
    width: 100%;
    height: 500px; 
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
    transition-delay: 3s;
    background-color: #373434;
}
.container2 .right{
    width: 500px;
    height: 300px;
    margin-top: 100px;
}

.container2 .left{
    width: 500px;
    height: 300px;
    margin-top: 100px;
    margin-left: 150px;
}
.container2 .right .msg{
    width: 49%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: sans-serif;
    color: #aaa9a8;
    font-size: 20px;
}
.container2 .right .massage{
    width: 99%;
    height: 180px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: sans-serif;
    color: #aaa9a8;
    font-size: 20px;
    letter-spacing: 2px;
}
.container2 .right .buttons{
    width: 29%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
    font-family: sans-serif;
    color: #aaa9a8;
    font-size: 20px;
    cursor: pointer;
}
.container2 .right .buttons:hover{
    border: 1px solid #07f49e;
    transform: scale(.94);
}
/* 5th container  */
/* footer section  */
.footer{
    width: 100%;
    height: 100px;
    background-color: black;
}
.footer h2{
    font-family: 'DM Sans', sans-serif;
    color: #949393;
    font-size: 20px;
    padding-left: 40px;
}
.footer .icons{
    float: right;
    margin-top: 10px;
    margin-right: 70px;
}
.footer .icons i{
    font-size: 35px;
    padding: 10px;
    filter:drop-shadow(10px 10px 20px black);
    cursor: pointer;
}
.footer .copyright{
   margin-top: 35px;
    position: absolute;
}
.footer .icons :nth-child(1){
    color: blue;
}
.footer .icons :nth-child(2){
    color: rgb(255, 0, 0);
}
.footer .icons :nth-child(3){
    color: rgb(2, 143, 251);
}
.footer .icons :nth-child(4){
    color: red;
}
.sojib{
    width: 130px;
    height: 130px;
    margin: -60px;
 }
 .sojib a{
   margin: 13px;
   font-size: 30px;
   cursor: pointer;
   color: #F6F1EE;
   margin: 50px;
   position: fixed;
   background-color: rgba(0, 252, 59, 0.32);
   padding: 10px 16px;
   border-radius: 50%;
 }
/* footer section  */




/* Responsive Code  */
@media screen and (max-width: 600px){
body{
    background-color: rgb(49, 49, 49);
}
.frist-cintainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.left-container{
    width: 100%;
    height: fit-content;

}
.right-container{
    margin-left: -100px;
    display: none;
}
.second-container{
    display: flex;
    flex-direction: column;
}
.second-container .left-side{
    margin: 0 auto;
}
.second-container >.right-side{
    width: 100%;
    height: 300px;
    margin-left: 150px;
}
.second-container >.right-side{
    width: 100%;
    height: 300px;
    margin-left: 0px;
}
.second-container >.right-side h1{
   left: 160px;
   position: absolute;
}
.second-container >.right-side h3{
    margin-top: 70px;
}
.second-container .right-side .icon a i{
    display: none;
}
.progress-bar{
    width: 400px;
    background-color: rgb(55, 53, 53);
    height: 10px;
    border-radius: 10px;
}
.five-container .experience{
    height: 550px;
}
.container2 .left{
    margin-left: 70px;
}
.container2{
    display: block;
}
.container2 .right{
    width: 400px;
    height:350px;
    margin: 0 auto;
    text-align: center;
}
.footer{
    background-color: rgb(11, 7, 25);
    margin-top: 150px;
}
.footer .copyright{
margin-left: 60px;
}
.footer h2{
    font-size: 12px;
}
.footer .icons{
   display: none; 
}
.navbar ul{
    display: block;
    margin-left: 44px;
    position: fixed;
    margin-top: 43px;
    margin-left: -286px;
    background-color: #424241;
    border: 1px solid #00ff37;
    width: 200px;
    height: 500px;
    border-radius: 10px;
    transition-delay: 3s;
    z-index: 1;
    
}
.navbar ul li a{
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
    display: block;
    padding: 10px;
    margin: 0;
    opacity: 1;
    text-align: lef;
    color: #00ddff;
    text-align: left;
    padding: 10px;
    padding-left: 10px;
}
.navbar ul li a i{
    color: #ffffff;
    z-index: 1;
    opacity: 11111;
    padding-left: 10px;
}
}



/* All is ok  */